@font-face
  font-family: 'DIN alt'
  src: url(../fonts/din1451alt.ttf)

html, body
  margin: 0
  padding: 0
body
  font:
    family: 'DIN alt'
    size: 16px
  color: white
  background:
    image: url(../img/background.jpg)
    size: cover
    attachment: fixed


  @media (max-width: 920px)
    width: 100vw
    background:
      image: url(../img/background.jpg)
      size: cover


  a
    color: white
    display: inline-block
    -webkit-transition: all 200ms ease-in-out
    transition: all 200ms ease-in-out
    &:hover
      color: rgba(#8BFFF8, .4)
      -webkit-transform: scale(1.1, 1.1)
      transform: scale(1.1, 1.4) rotateZ(-3deg) skewX(-30deg)

  #backdrop
    position: absolute
    top: 0
    width: 100%
    height: auto
    min-height: 100%
    background: rgba(black, .6)

    @media (max-width: 920px)
      width: 100vw

      .main-container
        margin: 0 auto

    .header
      position: fixed
      width: 100%
      height: 5rem
      background: rgba(black, .6)
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      padding: 0 5rem
      box-sizing: border-box

      .title
        font:
          family: "Helvetica Neue"
          weight: 100
          size: 3vw
        color: #8BFFF8
      .sub-title
        font:
          family: Georgia
          style: italic
          size: 3vw
        color: #FF7EDE

      @media (max-width: 920px)
        padding: 0 2rem
        .title
          font-size: 1.6rem
        .sub-title
          font-size: 1.2rem

    .main-container

      width: 500px
      margin: 10rem auto 0
      color: white


      .big-container
        font:
          size: 3.5rem
        letter-spacing: 6px
        line-height: 1px

      .med-container
        padding-top: 2rem
        font:
          size: 2rem
        letter-spacing: 6px
        line-height: 1px

      .small-container
        padding-top: 2rem
        font:
          size: 1.4rem
        letter-spacing: 6px
        line-height: 1px