#backdrop
  .header
    .title EUGENE DELTA
    .sub-title ... for all things to come

  .main-container
    .big-container
      p BLACK DOGS EP
      p OUT NOW!
      p: a(href='') ITUNES
      p: a(href='') GOOGLEPLAY
      p: a(href='') AMAZON
      p: a(href='') SPOTIFY
    .med-container
      p OLDER NEWS
      p: a(href='') SO LONG VIDEO
      p: a(href='') BLACK DOGS LIVE VIDEO
      br
      br
      br
      p CONTACT & BOOKING
      p: a(href='') contact@eugenedetla.com
    .small-container
      p © 2017 by Eugene Delta
      p All Rights Reserved.